.main-wrap{
     min-height: 100vh; /* Изменено с height на min-height */
    width: 100%;
}
.main{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
  
   padding: 10px;
}
.main__content{
    height: calc(100vh - 90px);
}