.home{
  
}
.home__info{
   
 display: flex;
    flex-direction: column;
    gap: 10px;
}
.home__info-stats-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    background-color: #030303;
    border-radius: 25px;
}
.home__info-stats{
    padding: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home__info-stats-main{
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.home__info-stats-main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home__info-stats-main-item--down{
    grid-column-start: 1;
    grid-column-end: 4;
}
.home__info-text{
    color: white;
    font-size: 18px;
}
.home__info-text--small{
    font-size: 11px;
    opacity: 0.5;
    color: #EEEEEE;
}
.home__info-avatar-wrap{
    border: 2px solid grey;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home__info-avatar{
    height: 95px;
    width: 95px;
    border-radius: 50%;
}



.home__info-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.home__info-button{
    width: 140px;
    height:30px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
   font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__info-button--progress{
    background-color: #F5FF82;
    border: none;
    color: black;
}

.home__info-progress-next{
    display: none;
}
.home__info-progress-wrap{
    background-color: grey;
    border-radius: 30px;
    
}
.home__info-progress{
    position: relative;
    padding: 15px;
    display:grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px;
}
.home__info-progress-help-wrap{
    background-color: rgb(200, 189, 189);
    border-radius: 20px;
    height: 270px;
   
}






.home__info-progress-help{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
    

}
.home__info-progress-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.home__info-progress-user-avatar-wrap{
    border: 2px solid red;
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home__info-progress-user-avatar{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}






.home__info-progress-user-text{
    font-size: 12px;
    color: #1C1B1B;
    text-align: center;

}
.home__info-progress-user-text--big{
    font-size: 14px;
    color:#1A1919
}





.home__info-progress-button-wrap{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.home__info-progress-buttons-wrap{
    width: 100%;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
  
    gap: 10px;
}
.home__info-progress-button{
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__info-progress-top-locked{
    background-color: black;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__info-progress-top-locked-content{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.home__info-progress-top-locked-img{
    height: 40px;
    width: 40px;
}
.home__info-progress-top-locked-points-wrap{
    background-color: grey;
   
    border-radius: 20px;
   
}
.home__info-progress-top-locked-points{
    color: #F5FF82;
    padding: 4px 10px;
    font-size: 14px;
}


.home__info-progress-top{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f3acac;
    border-radius: 20px;
}
.home__info-progress-top-logo-wrap{
    display: flex;
    justify-content: end;
}
.home__info-progress-top-logo{
    background-color: #F5FF82;
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    
}
.home__info-progress-top-logo-text{
    color: black;
    font-size: 10px;
}
.home__info-progress-top-descr{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.home__info-progress-top-descr-title{
    color: white;
    font-size: 20px;
}
.home__info-progress-top-descr-text{
    color: grey;
    font-size: 12px;
}
.home__info-progress-top-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home__info-progress-top-card-wrap{
    background-color: #c34a09;
    border-radius: 20px;
}
.home__info-progress-top-card-wrap--current{
    background-color: #125dcc;
}
.home__info-progress-top-card{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 5px;
    align-items: center;
}
.home__info-progress-top-card-person{
    display: flex;
    align-items: center;
    gap: 7px;

}

.home__info-progress-top-card-person-avatar-wrap{
    border: 2px solid red;
    height: 35px;
    width:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home__info-progress-top-card-person-avatar{
    height: 30x;
    width: 30px;
    border-radius: 50%;
}

.home__info-progress-top-card-person-text{
    display: flex;
    flex-direction: column;
   

}

.home__info-progress-top-card-person-name{
    color: black;
    font-size: 12px;
}
.home__info-progress-top-card-person-name--rating{
    font-size: 8px;
}
.home__info-progress-top-card-person-name--current{
    color: white;

}
.home__info-progress-top-card-person-days{
    color: grey;
    font-size: 10px;
}
.home__info-progress-top-card-person-days--current{
    color: rgb(255, 255, 255);
    
}
.home__info-progress-top-card-points{
    font-size: 22px;
    color: black;
    font-weight: bold;
}



.home__info-food-wrap{
    background-color: aquamarine;
    border-radius: 20px;
}
.home__info-food{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    gap: 30px;
}

.home__info-food-main{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 10px;
}
.home__info-food-text{
    font-size: 11px;
    color: grey;
}


.home__info-food-button{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #030303;
    color: white;
    font-size: 12px;
}

.home__info-food-button-arrow{
    width: 10px;
    height: 10px;
}
.home__info-food-analyz{
    height: 200px;
    background-color: black;
    border-radius: 20px;
}




.home__info-food-text--big{
    font-size: 15px;
 
    color: black;
}


.home__info-progress-help-wrap--none{
    display: none;
}
.home__info-progress-top-wrap--none{
    display: none;
}


@media(max-height:850px){
    .home__info-food-analyz{
    height: 170px;
    background-color: black;
    border-radius: 20px;
}

.home__info-progress-user-text{
    font-size: 10px;
    color: #1C1B1B;
    text-align: center;

}
.home__info-progress-user-text--big{
    font-size: 13px;
    color:#1A1919
}

.home__info-progress-user-avatar-wrap{
   
    height: 40px;
    width:40px;
    
}
.home__info-progress-user-avatar{
    height: 35px;
    width: 35px;
    
}

.home__info-progress-help-wrap{
  
    height: 230px;
   
}

.home__info-avatar-wrap{
   
    height: 80px;
    width: 80px;
    
}
.home__info-avatar{
    height: 75px;
    width: 75px;
   
}

}

@media(max-width:486px){
    .home__info-food-text--big {
    font-size: 12px;
   
}
.home__info-food-button {
   
    height: 35px;
    
    font-size: 10px;
}
}
@media(max-width:474px){
    .home__info-progress-button-wrap {
   
    padding-top: 0px;
}
.home__info-progress-next{
    display: flex;
    justify-content: end
    ;
}
.home__info-progress-next-button{
    width: 30px;
    height: 15px;
    background-color: red;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 30px;
}
.home__info-progress {
    
    grid-template-columns: 1fr;
    gap: 5px;
}
.home__info-progress-button {
    width: 200px;
    height: 40px;
}

.home__info-progress-user-text{
    font-size: 13px;
  

}
.home__info-progress-user-text--big{
    font-size: 16px;
   
}

.home__info-progress-user-avatar-wrap{
   
    height: 50px;
    width:50px;
    
}
.home__info-progress-user-avatar{
    height: 45px;
    width: 45px;
    
}
/* .home__info-progress-user-text {
    font-size: 13px;
   
}
.home__info-progress-user-text--big {
    font-size: 16px;

}
.home__info-progress-user-avatar {
    height: 55px;
    width: 55px;
  
}
.home__info-progress-user-avatar-wrap {
   
    height: 60px;
    width: 60px;
   
} */
 .home__info-progress-user {
   flex-direction: row;
   justify-content: center;
}
.home__info-progress-help-wrap {
    
    height: 210px;
}
.home__info-progress-top-locked {
    height: 210px;
}

.home__info-progress-buttons-wrap {
   justify-content: center;
   grid-template-columns: 1fr 1fr;
  
  
}
.home__info-progress-button--small{
   
    width: 100%;
}
.hh{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3
    ;
}

}