.questionary{
    display: flex;
    justify-content: center;
    height: 100vh; 
    width: 100vw;
    position: fixed;
}
.questionary__container{
    padding: 80px 30px;
    display: grid;
    grid-template-rows: 0.6fr 60px 5fr;
    
}
.questionary__logo-block{
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 60px;
   
}
.questionary__logo{
   
    height: 30px;
}
.questionary__nav{
     display: flex;
     justify-content: center;
    gap: 5px;
}
.questionary__nav-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.questionary__nav-circle{
    width: 19px;
    height:19px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.questionary__nav-circle--active{
    border: 1px solid white;
}
.questionary__nav-mini-circle{
     width: 5px;
    height:5px;
    border-radius: 50%;
    background-color: white;
    
}
.questionary__nav-stick{
    width: 30px;
    height: 1.5px;
    background-color: rgb(255, 255, 255,0.5);
}